<div class="todos">
    <form (submit)="addTodo()">
        <input type="text" name="inputTodo" placeholder="Enter new task..." class="todo-input"
            [(ngModel)]="inputTodo" />

        <button class="todo-submit">{{buttonText}}</button>
    </form>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
        <div class="id">{{ todo.id }}</div>
        <div class="content" (click)="toggleDone(todo.id )">{{ todo.content }}</div>
        <button class="delete" (click)="deleteTask(todo.id )">Remove</button>
        <button class="edit" (click)="editTask( todo.id )">Edit</button>
    </div>
</div>